@font-face {
  font-family: "NeueMachina";
  src: local("NeueMachina"),
    url(./fonts/NeueMachina-Regular.otf) format("opentype");
}

@font-face {
  font-family: "NeueMachina";
  font-weight: 300;
  src: local("NeueMachina"),
    url(./fonts/NeueMachina-Light.otf) format("opentype");
}

@font-face {
  font-family: "NeueMachina";
  font-weight: 800;
  src: local("NeueMachina"),
    url(./fonts/NeueMachina-Ultrabold.otf) format("opentype");
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #202020;
  color: #d8f500;
  font-family: NeueMachina, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
