/* -------------- FONTS -------------- */

@font-face {
  font-family: "Monument Extended";
  src: local("Monument Extended"),
    url(./fonts/MonumentExtended-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Monument Extended";
  font-weight: 800;
  src: local("Monument Extended"),
    url(./fonts/MonumentExtended-Ultrabold.otf) format("opentype");
}

@font-face {
  font-family: "Neue Machina";
  src: local("Neue Machina"),
    url(./fonts/NeueMachina-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Neue Machina";
  font-weight: 300;
  src: local("Neue Machina"),
    url(./fonts/NeueMachina-Light.otf) format("opentype");
}

@font-face {
  font-family: "Neue Machina";
  font-weight: 800;
  src: local("Neue Machina"),
    url(./fonts/NeueMachina-Ultrabold.otf) format("opentype");
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: Neue Machina, serif;
  background-color: #202020;
  color: #d8f500;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1,
h2 {
  font-family: Monument Extended, serif !important;
  font-weight: 400;
  margin-bottom: 1rem;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 2rem;
}

#notFound {
  margin-bottom: 1rem;
  font-weight: 800;
}

#links {
  margin-bottom: 2rem;
}

#links p {
  margin: 0 1rem;
  display: inline-block;
}

#transcript {
  margin-bottom: 2rem;
  font-family: Neue Machina, serif;
}

button {
  color: #d8f500;
  background: none;
  font-family: Neue Machina, serif;
  font-weight: 800;
  padding: 1rem 2rem;
  border: solid 2px #d8f500;
  cursor: pointer;
  transition: all 200ms ease;
}

button:active {
  transform: scale(0.9);
}
