/* -------------- FONTS -------------- */

@font-face {
  font-family: "Monument Extended";
  src: local("Monument Extended"),
    url(./fonts/MonumentExtended-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Monument Extended";
  font-weight: 800;
  src: local("Monument Extended"),
    url(./fonts/MonumentExtended-Ultrabold.otf) format("opentype");
}

@font-face {
  font-family: "Neue Machina";
  src: local("Neue Machina"),
    url(./fonts/NeueMachina-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Neue Machina";
  font-weight: 300;
  src: local("Neue Machina"),
    url(./fonts/NeueMachina-Light.otf) format("opentype");
}

@font-face {
  font-family: "Neue Machina";
  font-weight: 800;
  src: local("Neue Machina"),
    url(./fonts/NeueMachina-Ultrabold.otf) format("opentype");
}

/* -------------- GENERAL -------------- */

* {
  margin: 0;
  padding: 0;
}

body {
  cursor: none;
  width: 100vw;
  height: 100vh;
  font-family: Neue Machina, serif;
  background-color: transparent;
  color: #d8f500;
  overflow: hidden;
}

/* BG */
.bgvid {
  z-index: -1;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

/* Typo */
h1,
h2,
h3,
h4 {
  font-family: Monument Extended, serif !important;
  font-weight: 400;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

p {
  font-size: 1rem;
  line-height: 1.5em;
}

button {
  background: none;
  font-family: Neue Machina, serif;
  padding: 1rem 1rem;
  color: #fff;
  border: solid #d8f500 1px;
  border-radius: 500px;
  text-align: center;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: all 200ms ease;
  float: right;
}

button:active {
  transform: scale(0.9);
}

/* -------------- HEADER (TOP OF PAGE) -------------- */

header {
  margin: 32px;
  height: 50px;
  overflow: hidden;
}

#transcript {
  font-family: Neue Machina, serif;
  color: #fff;
  font-size: 0.8rem;
}

#notFound {
  position: absolute;
  top: 100px;
  left: 4vw;
  font-family: Neue Machina, serif;
  font-weight: 800;
  color: #d8f500;
  font-size: 0.8rem;
}

.header-left-wrapper {
  position: absolute;
  overflow: hidden;
  display: flex;
  gap: 1rem;
  left: 4vw;
  width: 80%;
}

.header-left-wrapper p:nth-child(1) {
  font-size: 2rem;
  font-family: Monument Extended, serif !important;
}

.header-left-wrapper p:nth-child(3) {
  font-size: 0.8rem;
  line-height: 1rem;
  width: 50%;
  font-family: Neue Machina, serif !important;
  overflow: hidden;
  height: 48px;
}

.header-right-wrapper {
  width: 20%;
  position: relative;
  display: inline;
  float: right;
  right: 4vw;
}

.links-wrapper {
  position: fixed;
  bottom: 0;
  display: flex;
  gap: 2rem;
  margin-bottom: 32px;
}

.centered-links {
  left: 50% !important;
  transform: translateX(-50%) !important;
}

.left-links {
  left: 4vw !important;
}

.right-links {
  right: 4vw !important;
}

.links-wrapper div h4 {
  padding: 1rem 1rem;
  color: #fff;
  background-color: #202020 !important;
  border: solid #d8f500 2px;
  border-radius: 500px;
  text-align: center;
  margin-bottom: 1rem;
}

.links-wrapper div h4.active-page {
  background-color: #d8f500 !important;
  color: #202020 !important;
}

.links-wrapper div p {
  font-size: 0.6rem;
  text-align: center;
}

/* Pulse Icon */

.line-scale-pulse-out > div {
  background-color: #d8f500;
  width: 4px;
  height: 35px;
  border-radius: 2px;
  margin: 2px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: inline-block;
  -webkit-animation: line-scale-pulse-out 0.9s -0.6s infinite cubic-bezier(0.85, 0.25, 0.37, 0.85);
  animation: line-scale-pulse-out 0.9s -0.6s infinite cubic-bezier(0.85, 0.25, 0.37, 0.85);
}

.line-scale-pulse-out > div:nth-child(2),
.line-scale-pulse-out > div:nth-child(4) {
  -webkit-animation-delay: -0.4s !important;
  animation-delay: -0.4s !important;
}

.line-scale-pulse-out > div:nth-child(1),
.line-scale-pulse-out > div:nth-child(5) {
  -webkit-animation-delay: -0.2s !important;
  animation-delay: -0.2s !important;
}

@-webkit-keyframes line-scale-pulse-out {
  0% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }

  50% {
    -webkit-transform: scaley(0.4);
    transform: scaley(0.4);
  }

  100% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }
}

@keyframes line-scale-pulse-out {
  0% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }

  50% {
    -webkit-transform: scaley(0.4);
    transform: scaley(0.4);
  }

  100% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }
}

/* -------------- PAGES -------------- */

/* Home */
div.homepage-wrapper {
  position: absolute;
  top: 50%;
  z-index: 10;
  transform: translateY(-50%);
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

/* About & Accessibility */
div.page-wrapper {
  margin: 4vw;
  display: flex;
}

div.page-wrapper .left-column {
  width: 50%;
}

div.page-wrapper .left-column p {
  font-size: 1.2vw;
  line-height: 1.8vw;
}

div.page-wrapper .left-column p {
  font-size: 1vw;
  line-height: 1.8vw;
}

div.page-wrapper .left-column h2 {
  position: absolute;
  left: 4vw;
  top: 50%;
  text-align: left;
  -webkit-text-fill-color: #d8f500; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #202020;
}

div.page-wrapper .right-column {
  width: 50%;
}

div.page-wrapper .right-column h2 {
  position: absolute;
  right: 4vw;
  top: 50%;
  text-align: right;
  -webkit-text-fill-color: #d8f500; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #202020;
}

div.page-wrapper .left-column img {
  position: absolute;
  left: 0;
  width: 40%;
}

div.page-wrapper .right-column img {
  float: right;
  height: 90vh;
}

/* Contact */
div.contact-info {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 32px 0px;
}

div.contact-info .contact-col {
  width: 20%;
}

div.contact-info .contact-col h4 {
  padding-bottom: 1rem;
}

div.contact-info .contact-col img {
  width: 100%;
}
